.home{
    background-image:url("https://images.unsplash.com/photo-1654331045702-405756aba4ab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    margin-top:0px;
    display:flex;
    margin-top:0px;
    flex-direction:column;
    width:100vw;
    height:100vh;

}
.intro{
    color:rgb(185, 30, 180);
    font-size:50px;
    margin-top:20px;
    font-weight:bold;
    text-align:center;
}
.intro_image{
    margin-top:80px;
}