.footer{
    padding:50px;
    background-color:#1A2A40;
    color:white;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.leftColumn{
    display: flex;
    flex-direction:column;
   
   
}
.rightColumn{
    display: flex;
    flex-direction:column;
    margin-right:130px;
}
.footer-link a{
    text-decoration:none;
    color:white;
}